[Unit]
Description=hypridle idle daemon
PartOf=dotfiles-graphical-session.target
After=dotfiles-graphical-session.target
StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
ExecStart=/usr/bin/hypridle
Restart=on-failure
RestartSec=2
