local terminal = {{ .terminal | quote }}
local browser = {{ .browser | quote }}

hl.bind("SUPER + RETURN", hl.dsp.exec_cmd("uwsm app -- " .. terminal))
hl.bind("SUPER + SHIFT + B", hl.dsp.exec_cmd("uwsm app -- " .. browser .. " --new-window --ozone-platform=wayland"))
hl.bind("SUPER + SHIFT + ALT + B", hl.dsp.exec_cmd("uwsm app -- " .. browser .. " --incognito"))
hl.bind("SUPER + E", hl.dsp.exec_cmd("dms ipc call defaultApp fileManager"))
hl.bind("SUPER + CTRL + N", hl.dsp.exec_cmd("uwsm app -- " .. terminal .. " -e {{ .editor }}"))
hl.bind("SUPER + CTRL + T", hl.dsp.exec_cmd("uwsm app -- " .. terminal .. " -e btop"))

{{- if .installDevelopment }}
hl.bind("SUPER + CTRL + D", hl.dsp.exec_cmd("uwsm app -- " .. terminal .. " -e lazydocker"))
{{- end }}

{{- if .installDesktopApps }}
hl.bind("SUPER + SHIFT + O", hl.dsp.exec_cmd("uwsm app -- obsidian"))
hl.bind("SUPER + SHIFT + M", hl.dsp.exec_cmd("uwsm app -- spotify"))
{{- end }}
