input {
    kb_layout = {{ .keyboardLayout }}
    kb_variant = {{ .keyboardVariant }}
    kb_options = compose:caps
    repeat_rate = 30
    repeat_delay = 150

    touchpad {
        scroll_factor = 0.4
    }
}
